body {
    font: 10pt Arial, Helvetica, Sans-serif;
}
p {
    text-decoration: none;
}
#example1 {
    float: left;
}
.expand_all,
.collapse_all {
    cursor: pointer;
}
.example_menu {
    font-size: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 136px;
}
.example_menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu1 {
    margin: 0;
}
#menu1 li,
.example_menu li {
    background-image: none;
    margin: 0;
    padding: 0;
}
.example_menu ul ul {
    display: block;
}
.example_menu ul ul li p {
    padding-left: 20px;
    width: 109px;
}
.example_menu p {
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-left: 0;
    padding: 2px 2px 2px 17px;
    width: 112px;
}
.example_menu p.expanded {
    background: #bbb url('../images/collapse.gif') no-repeat 3px 50%;
}
.example_menu p.collapsed {
    background: #bbb url('../images/expand.gif') no-repeat 3px 50%;
}
.example_menu p:hover {
    text-decoration: none;
}
.example_menu ul p {
    background: #e8e8e8;
    border-top: 2px solid #fff;
    color: #000;
    display: block;
    font-weight: normal;
    padding: 2px 2px 2px 10px;
    width: 119px;
}
.example_menu ul p:link {
    font-weight: normal;
}
.example_menu ul p:hover {
    background : #f5f5f5;
    text-decoration: underline;
}
.example_menu li.active p {
    background: #fff;
}
.example_menu li.active li p {
    background: #e8e8e8;
}
#menu1 li.footer,
.example_menu .footer {
    background: transparent url('../images/footer.jpg') no-repeat 0 0;
    border-top: 2px solid #fff;
    height: 9px;
    line-height: 15px;
    margin: 0 0 10px 0;
    width: 131px;
}
.example_menu .footer span {
    display: none;
}
